html{
    font-family: Arial, sans-serif;
    background-color: rgb(152, 230, 224);
    margin: 0;
    padding: 0;
}
div{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 2px;
    background-color: rgb(152, 230, 224);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.box{
    padding: 5px 500px;
    margin-top: 2px;
    border: 1px solid black;
    background-color: rgb(152, 230, 224);
    color: black;
    align-items: center;
    text-align: left;
    
    
}
